.cb_main_parent {
  margin-top: 8rem;
  margin-bottom: 5rem;
}

.cb_subparent1 {
  display: flex;
  justify-content: space-between;
}

.cb_leftdiv {
  width: 500px;
  max-width: 500px;
}

.cb_rightdiv {
  text-align: right;
  width: 60%;
}

.cb_rightdiv_p1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  /* max-width: 600px; */
  line-height: 95px;
  margin-bottom: 1.5rem !important;

  color: #7353d4;
  background-image: -webkit-linear-gradient(
    0deg,
    #7353d4 13%,
    #d78bf7 50%,
    #0f31ab 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.cb_rightdiv_p2 {
  font-family: "Poppins", sans-serif;
  color: black;
  width: 80%;
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 600;
  letter-spacing: 1px;
}

.cb_rightdiv_btn {
  background: #a87ff3;
  box-shadow: 0px 0px 50px -10px rgba(151, 71, 255, 0.08);
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 6px;
  margin-top: 2rem;
  padding: 10px 20px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}

.Feat_img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-right: 10px;
}

@media screen and (max-width: 430px) {
  .cb_main_parent {
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
  .cb_subparent1 {
    flex-direction: column;
  }

  .cb_leftdiv {
    width: 95vw;
    max-width: 95vw;
  }

  .Feat_img {
    margin: 0px;
  }
}
