.pf_mainparent {
  margin-top: 5rem;
}

.pf_subparent h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  /* max-width: 70%; */
  line-height: 70px;
  margin-bottom: 1.5rem !important;
  color: #a87ff3;
}

.pf_hr1 {
  background-color: white;
  color: white;
  height: 1px;
  border: 1px solid white;
  opacity: 0.7;
}

.pf_headerdiv {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.pf_headerdiv .textdiv {
  width: 60%;
}

.pf_headerdiv .textdiv .namediv img {
  display: none;
}

.pf_headerdiv .textdiv p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: 1px;
}

.pf_headerdiv .imgdiv img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.pf_projdiv {
  margin-top: 3rem;
}

.pf_projcomm_headerdiv p {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 70px;
  color: #a87ff3;
  margin: 0px !important;
}

.pf_projcomm_projectsdiv {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
}

.pf_techskills_headerdiv p {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 70px;
  color: #a87ff3;
}

.pf_techskills_techdiv {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
}

.pf_techskills_techs p {
  font-family: "Poppins", sans-serif;
  color: black;
  font-size: 1.2rem;
  line-height: 1.8;
  letter-spacing: 1px;
  background-color: rgb(255, 255, 255);
  padding: 0 0.5rem;
  border-radius: 5px;
  margin-right: 1rem;
}

/* //* MOBILE */

@media screen and (max-width: 430px) {
  .pf_headerdiv {
    flex-direction: column;
  }
  .pf_subparent h1 {
    font-size: 3rem;
    line-height: 60px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }

  .pf_headerdiv .textdiv {
    width: 95%;
  }

  .pf_headerdiv .textdiv .namediv {
    display: flex;
    flex-direction: row;
  }

  .pf_headerdiv .textdiv .namediv img {
    display: flex;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-right: 1rem;
  }

  .pf_headerdiv .imgdiv img {
    display: none;
  }

  .pf_headerdiv .textdiv p {
    font-size: 1rem;
  }

  .pf_techskills_headerdiv p {
    font-size: 3rem;
    text-align: center;
  }

  .pf_techskills_techdiv {
    justify-content: center;
    width: 100%;
  }

  .pf_projcomm_headerdiv p {
    font-size: 3rem;
    text-align: center;
  }

  .pf_projcomm_projectsdiv {
    justify-content: center;
    width: 100%;
  }
}
